.App {
  text-align: center;
  background-color: cornflowerblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mind-elixir{
  font-weight: 400 !important;
  font-family: "Roboto,SegoeUI,Lato,sans-serif" !important;
  line-height: 1.46429em !important;
  font-size: 0.9375rem !important;
  /* color: #fff !important; */
  background-color: #303f9f !important;
}

tpc {
  color: #ffffff !important;
  padding: 0.2rem !important;
  background-color: #303f9f !important;
  border-radius: 0.2rem !important;
  font-size: 0.9375rem !important;
}

tpc>input{
  color: #303f9f !important;
  background-color: #ffffff !important;
  padding: 0.2rem !important;
}